<div class="field">
  <form [formGroup]="form" (ngSubmit)="onSave()">
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Class Name</th>
          <th>Courses</th>
          <th>Save</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Auto</td>
          <td><input type="text" formControlName="name" /></td>
          <td><input type="text" formControlName="className" /></td>
          <td><input type="text" formControlName="courses" /></td>
          <td>
            <button type="submit">{{ isEdit ? "Update" : "Save" }}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
  <button type="submit" (click)="getAllCandidates()">Show All</button>
  <input type="number" placeholder="Enter Your Id" #idInput />
  <button (click)="getCandidateById(+idInput.value)">See Record</button>
  <div class="show-info" *ngIf="data.length > 0">
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Class</th>
          <th>Courses</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let items of data">
          <td>{{ items.id }}</td>
          <td>{{ items.name }}</td>
          <td>{{ items.className }}</td>
          <td>{{ items.courses }}</td>
          <td>
            <button (click)="editCandidate(items)">Edit</button>
            <button (click)="delCandidate(items)">Delete</button>
          </td>
        </tr>
        <button (click)="this.data = []">Clear</button>
      </tbody>
    </table>
  </div>
</div>
